<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Quotes / Node</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>May Node & Express be with you.</h1>
    
    <div class="container">
        <main>
            <h2>Add quote</h2>
            <form action="/quotes" method="POST">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="quote" name="quote">
                <button type="submit">Submit</button>
            </form>
        </main>
    
        <section>
            <h2>Darth Vader invades!</h2>
            <p>Replace first Yoda's quote with a quote written by Darth Vader.</p>
            <button id="update-button">Replace Yoda's Quote</button>
        </section>
    
        <section>
            <h2>Remove Darth Vader!</h2>
            <p>Delete one Darth Vader quote. Does nothing if there are none.</p>
            <div class="vaderMessage">
                <button id="delete-button">Delete Darth Vader's Quote</button>
                <div id="message"></div>
            </div>
        </section>
    </div>

    <section>
        <h2>Quotes</h2>
        <ul class="quotes">
            <% quotes.forEach(quote => { %>
                <li>
                    <strong><%= quote.name %></strong>: <%= quote.quote %>
                </li>
            <% }) %>
        </ul>
    </section>

    <script src="index.js"></script>
</body>
</html>