* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem auto;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
}

main, section {
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
}

.vaderMessage {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#message {
    font-weight: bold;
    color: red;
    margin-top: 1rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

ul {
    margin-left: 1rem;
}

button {
    margin-top: 1rem;
}

@media (min-width: 850px) {
    body {
        max-width: 1200px;
    }

    .container {
        display: flex;
        gap: 1rem;
    }
}