* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

main, section {
    margin-bottom: 3rem;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
}

.vaderMessage {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#message {
    font-weight: bold;
    color: red;
    margin-top: 1rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

ul {
    margin-left: 1rem;
}

button {
    margin-top: 1rem;
}